body{
    height: 100vh;
    max-width: 100vw;
    background-color: #131517;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: "Montserrat", sans-serif;
    color: #E6E8E9;
}
h5{
    font-family: "Lora", serif;
    color: #5F6269;
}
.col{
    color: #b6b6b6;
    border-style: solid;
    border-color: #5f62695e;
    border-radius: 0.4rem;
    border-width: 1px;
    margin: 0.5rem;
}
.price{
    color: #E6E8E9;
}
box-icon{
    height: 16px;
    width: 16px;
}
a{
    color: #E6E8E9;
    text-decoration: none;
}
a:hover{
    color: #98E39E;
}
#pm-fi, #mn-fi{
    color: #E27256;
}
#mm-fi, #mp-fi{
    color: #98E39E;
}
#crypto-link, #fi-link{
    color: #5F6269;
}
#crypto-link:hover, #fi-link:hover{
    color: #98E39E;
}
#subtitle{
    color: #E6E8E9;
}